/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.order {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.order-details {
  margin-bottom: 10px;
}

button.print,
button.download {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button.print:hover,
button.download:hover {
  background-color: #45a049;
}
